/* header固定 */
.header{
  position: sticky;
  top: 0;
  z-index: 999;
  background: var(--theme);
  border-bottom: 1px solid #838383;
}

/* 表 */
.card {
  flex-basis: calc(50% - 12px);
}

/* メニューのリンク */
#menu li a{
  font-size: 100%;
}
