.profile-card {
  display: flex;
  background-color: #fefefe;
  border: 1px solid #ddd;
  border-radius: 1rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  box-sizing: border-box;
  padding: 2rem;
  max-width: 900px;
  width: 100%;
  align-items: center;
  gap: 2rem;
  overflow: hidden;
}

.dark .profile-card {
  background-color: #1e1e1e;
  color: #f0f0f0;
  border-color: #444;
}

.profile-card img:first-child {
  object-fit: cover;
}

.profile-card-content {
  flex: 1;
}

.profile-name,
.profile-name-dark {
  display: none;
}

body:not(.dark) .profile-name {
  display: block;
  font-size: 1.8rem;
  margin: 0;
  font-weight: bold;
  color: #2c3e50;
}

body.dark .profile-name-dark {
  display: block;
  font-size: 1.8rem;
  margin: 0;
  font-weight: bold;
  color: #ffffff;
}

.profile-cat,
.profile-cat-dark {
  display: none;
  max-width: 100%;
  height: auto;
  border-radius: 0.5rem;
}

body:not(.dark) .profile-cat {
  display: block;
  margin: 0;
  width: 232px;
  max-width: 100%;
  height: auto;
  border-radius: 0.5rem;
}

body.dark .profile-cat-dark {
  display: block;
  width: 232px;
  max-width: 100%;
  height: auto;
}


.profile-title {
  font-size: 1.2rem;
  margin: 0.3rem 0 1rem;
  color: #555;
}

.dark .profile-title {
  color: #ccc;
}

.profile-desc {
  font-size: 1rem;
  line-height: 1.6;
}

.profile-links a {
  text-decoration: none;
  color: #0366d6;
  font-weight: bold;
}

.dark .profile-links a {
  color: #8ab4f8;
}

.profile-stat {
  margin-top: 1rem;
}

@media (max-width: 768px) {
  .profile-card {
    flex-direction: column;
    text-align: center;
  }

  .profile-card img:first-child {
    margin-bottom: 1rem;
  }

  .profile-stat {
    text-align: center;
  }
}


/* GitHub Trophy */
.github-trophy,
.github-trophy-dark {
  display: none;
  margin-top: 1.5rem;
  overflow-x: auto;
  padding: 0 1rem;
  padding: 0.5rem;
  box-sizing: border-box;
  max-width: 100%;
  text-align: center;
}

body:not(.dark) .github-trophy {
  display: block;
  margin-top: 1.5rem;
  overflow-x: auto;
}

body.dark .github-trophy-dark {
  display: block;
  margin-top: 1.5rem;
  overflow-x: auto;
}

.github-trophy img,
.github-trophy-dark img {
  display: block;
  height: auto;
  max-width: 100%;
}
