<section id="timeline">
  <div class="timeline">

    <div class="timeline-item">
      <div class="timeline-date">2022年〜現在</div>
      <div class="timeline-content">
        <h4>日系IT企業</h4>
        <p>Python／Java／Linux／AWSなどフルスタックな技術を活用しアプリケーションエンジニアとして従事。</p>
        <a class="timeline-link" href="https://is0383kk.github.io/personal/portfolio/#-%E7%A4%BE%E4%BC%9A%E4%BA%BA%E3%81%A7%E3%81%AE%E6%A5%AD%E5%8B%99%E7%B5%8C%E9%A8%93">
          詳細を見る
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
            stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="M9 5l7 7-7 7" />
          </svg>
        </a>
      </div>
    </div>

    <div class="timeline-item">
      <div class="timeline-date">2020年〜2022年</div>
      <div class="timeline-content">
        <h4>某関西圏大学 大学院 修士課程（谷口忠大研究室）</h4>
        <p>谷口忠大研究室に所属。マルチエージェント生成モデルの研究を行う。</p>
        <a class="timeline-link" href="https://is0383kk.github.io/personal/portfolio/#-%E5%AD%A6%E7%94%9F%E6%99%82%E4%BB%A3">
          詳細を見る
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
            stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="M9 5l7 7-7 7" />
          </svg>
        </a>
      </div>
    </div>

    <div class="timeline-item">
      <div class="timeline-date">2016年〜2020年</div>
      <div class="timeline-content">
        <h4>某関西圏大学 情報系学部</h4>
        <p>ソフトウェア工学を学び、課外活動としてロボット競技に打ち込む。</p>
        <a class="timeline-link" href="https://is0383kk.github.io/personal/portfolio/#-%E5%AD%A6%E7%94%9F%E6%99%82%E4%BB%A3">
          詳細を見る
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
            stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="M9 5l7 7-7 7" />
          </svg>
        </a>
      </div>
    </div>

  </div>
</section>
